.patient{
  width: 40rem;
  margin-bottom: 10px;
}
.bttn {
  background-color: transparent;
  color: white;
  border: 2px solid #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 18px;
  width: 100%;
  text-align: left;
  font-size: 20px;
  transition: background-color .5s;
  flex-wrap: wrap;
}
.bttn:hover{
  background-color: rgba(84,58,183,1);
  color: white;
}
.bttn-clicked{
  background-color: rgba(84,58,183,1);
  color: white;
  border: 2px solid #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 18px;
  width: 100%;
  text-align: left;
  font-size: 20px;
}
.collapsible{
  overflow: hidden;
}
.expanded {
  text-align: left;
  margin-top: -3px;
  width: 92.5%;
  padding: 0 18px;
  color: white;
  background-color: rgba(84,58,183,1);
  transition: 1s;
  border: 2px solid #fff;
  padding-bottom: 5px;
}
.expanded h3{
  margin-bottom: -1px;
  text-decoration: underline;
}

.collapsed {
  margin-top: -100%;
  transition: all 1s;
  text-align: left;
}

.hamburger{
  display: flex;
  justify-content: flex-end;
  align-content: center;
  margin-top: 5px;
}
.line {
  position: absolute;
  width: 21px;
  height: 2px;
  background-color: #fff;
  border-radius: 3px;
  transition: transform .5s, opacity .35s;
}
.line--top {
  transform: translateY(-7px);
}
.line--bottom {
  transform: translateY(7px);
}

.hamburger.cross .line--top {
  transform: rotate(45deg);
}
.hamburger.cross .line--middle {
  transform: translateX(16px);
  opacity: 0;
}
.hamburger.cross .line--bottom {
  transform: rotate(-45deg);
}
