.result-table{
  border: 2px solid white;
  margin: 10px;
}
.test-date{
  font-size: larger;
}
.table-header th{
  background-color: rgba(84,58,183,1);
  color: white;
  outline: 3px solid rgba(84,58,183,1);
  padding: 5px 10px;
}
.result-table:hover tr{
  background-color: rgba(84,58,183,1);
  color: white;
  outline: 1px solid white;
  transition: background-color .5s;
}
.result-table:hover th{
  background-color: white;
  color: rgba(84,58,183,1);
  outline: 1px solid white;
  transition: background-color .5s;
}
.row td{
  outline: 1px solid white;
  padding: 5px;
  font-size: larger;
}
